.wrapper {
    min-height: 82vh;
    background: #f9f9f9;
}

@import url('./reset.scss');
@import url('./components/header.scss');
@import url('./components/footer.scss');
@import url('./components/about.scss');
@import url('./components/projects.scss');
@import url('./components/contacts.scss');
@import url('./components/experience.scss');